body {
    background-color: #F0FFFF;
}
.first_row {
    margin: 55px 0px 20px 0px;
}
.page-header {
    margin: 0px;
    vertical-align: top;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 1.3em;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span.filled:before,
.rating > span.filled ~ span:before {
    content: "\2605";
    position: absolute;
}